.ProductsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.ProductsList ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
}

.ProductsList li {
    background-color: #000;
    border: 2px solid #333;
    border-radius: 15px;
    color: #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    flex: 0 0 auto;
}

.ProductsList li img {
    max-width: 100px;
    margin-bottom: 15px;
    background-color: white;
}

.ProductsList li div {
    margin: 10px 0;
}

.ProductsList li div strong {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.ProductsList li div:nth-child(4) {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.ProductsList li div:nth-child(5) {
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.ProductsList p {
    font-weight: bold;
    font-size: 20px;
}